@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --color-primary: #fbebb5;
  --color-secondary: #faf4f4;
  --color-content-primary: #000000;
  --color-content-secondary: #9f9f9f;
  /* Font-size */
  --fs-heading: 64px;
  --fs-title: 36px;
  --fs-subtitle: 24px;
  --fs-caption: 20px;
  --fs-body: 16px;
  /* Line height */
  --lh-heading: 96px;
  --lh-title: 54px;
  --lh-subtitle: 36px;
  --lh-caption: 30px;
  --lh-body: 24px;
}

body {
  @apply text-content-primary;
}
.header {
  height: calc(100vh - 100px);
  min-height: 700px;
}

.link-btn {
  @apply pb-3 border-b border-content-primary;
}
.shop-header {
  background-image: url("./assets/images/shop-background.png");
  background-size: contain;
}

input[type="text"],
input[type="number"],
textarea {
  @apply px-4 py-2 rounded border border-content-secondary w-full mt-0.5;
}
